@import "../../Theme.scss";

.jobWrapper{
    height: '100%';
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.jobCard{
    max-height: 800px;
    width: 600px;
    line-height: 1.5;
    background: $bg-colour;
}

.jobTitle{
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    text-align:center;
    width: auto;
    color: $text-colour;
    font-size: calc(12px + 2.5vmin);
}

.jobSubtitle{
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    text-align:center;
    width: auto;
    color: $text-colour;
    line-height: 1.2;
    font-size: calc(6px + 1.5vmin);
}

.jobCard img{
    object-fit: contain;
    height: 400px;
    width: 600px;
}

.jobCard ul{
    height: auto;
    font-weight: 300;
    font-size: calc(6px + 1vmin);
    list-style-type: circle;
}

.jobCard li{
    padding-right: 10px;
    font-weight: 300;
    font-size: calc(6px + 1vmin);
    text-align:left;
}

.jobButtons{
    justify-content: flex-end;
    display: flex;
}

@media screen and (max-width: 1300px) {
    .jobCard{
        width: 350px;
    }
}

@media screen and (max-height: 700px){
    .jobCard img{
        object-fit: contain;
        height: 200px;
        width: 350px;
    }

    .jobSubtitle{
        padding-left: 5px;
        padding-right: 5px;
    }

    .jobCard li{
        font-size: calc(8px + 1vmin);
    }
}