@import "../../Theme.scss";

.scrolling-wrapper-flexbox {
  overflow:auto;

  .card {
    flex: 0 0 auto;
  }
}

.footer{
  background: $bg-footer;
  padding: 20px;
  text-align: center;
  color: #d2e7ef;
  font-size: calc(8px + 0.8vmin);
}

@media screen and (max-width: 1000px) {
  .scrolling-wrapper-flexbox {
  overflow:inherit;
  }
}