@import "../../Theme.scss";

.Overview{
    padding: 40px;
    text-align: center;
}

.Overview-quote{
    text-align: left;
    font-weight: 500;
    width:auto;
    font-size: calc(10px + 2vmin);
    color: $text-colour;
}

.Overview-blurb{
    text-align: left;
    font-weight: 300;
    width:auto;
    text-align:justify;
    font-size: calc(6px + 1vmin);
    line-height: 1.6;
    color: $text-colour;
}

.Overview-blurb a{
    text-decoration: none;
    font-weight: 500;
}

.Overview-selfie{
    width: auto;
    height: 250px;
    clip-path: circle(88px at center);
}

.buttons{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mdc-button{
    margin: 10px 10px auto;
}

.buttons-horizontal .mdc-button{
    margin: 10px 10px auto;
}

@media screen and (max-width: 1000px) {
    .Overview-quote{
        font-size: calc(16px + 3vmin);
    }

    .Overview-blurb{
        font-size: calc(10px + 1.5vmin);
    }
}

@media screen and (max-height: 800px){
    .Overview{
        padding: 20px;
    }

    .Overview-selfie{
        width: auto;
        height: 150px;
        clip-path: circle(45px at center);
    }
}