@import "./Theme.scss";

@import "@material/ripple/mdc-ripple";
@import "@material/typography/mdc-typography";
@import "@material/theme/mdc-theme";

.App {
  background-color: $bg-colour;
  font-family: 'Quicksand', sans-serif
}

.wrapper { 
  overflow:hidden;
}

#left {
  background-color: white;
  float:left; 
  width:600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#right { 
  background-color: grey;
  overflow:hidden;
  min-height:200px;
}

@media screen and (max-width: 1000px) {
   #left { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}