$mdc-theme-primary: #2962ff;
$mdc-theme-accent: #a349a3;
$mdc-theme-background: #fff;  

$bg-colour: $mdc-theme-background;
$bg-footer: #37474F;

$text-colour: #37474F;

:export {
    textColour: $text-colour;
    bg-colour: $bg-colour;
    bg-footer: $bg-footer;
}